<div class="container">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
          >
          Integrantes del grupo
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <ul>
            <li>Daniel Gonzales <strong>6590-21-999</strong></li>
            <li>Luis Alexander <strong>6590-21-7783</strong></li>
            <li>Fernando López <strong>6590-21-10735</strong></li>
            <li>Denis Gómez <strong>6590-21-21743</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          Lenguajes Utilizados
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <ul>
            <li>html <strong>Lenguaje de etiqueta</strong></li>
            <li>css <strong>Lenguaje de estilos</strong></li>
            <li>typescript <strong>lógica Utilizada en el frontend</strong></li>
            <li>javascript <strong>Lógica Utilizada en el backend</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          Tecnologias utilizadas
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <ul>
            <li>Angular <strong>Framework para la vista de js</strong></li>
            <li>Bootstrap <strong>Framework para la vista css</strong></li>
            <li>Node js <strong>Entorno de ejecución js</strong></li>
            <li>Express <strong>Framework para el backend</strong></li>
            <li>GitHub <strong>Repositorio de trabajo compartido</strong></li>
            <li>Api creada con express <a href="https://api-calculo2.herokuapp.com/" target="_blank">Ir a API</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
