<!-- Modal -->
<div _ngcontent-cem-c54="" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" class="modal fade show" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{title}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"></button>
        </div>
        <div class="modal-body">
          {{description}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>